@import "~bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

.container-fluid--boxed {
  max-width: 600px;
}

.cursor-pointer {
  cursor: pointer;
}

.todo {
  &__check {
    color: #ececec;
    font-size: 1.8rem;
  }
  &__item {
    .todo__label:hover {
      .todo__check {
        color: #b8ffc0;
      }
    }
    &--completed {
      .todo__title {
        opacity: .2;
        text-decoration: line-through;
      }
      .todo__check {
        color: #57dc66;
      }
    }
  }
}
